<%# see all of the users %>
<form action="/" method="post">
    <input type="text" name="searchstuff" id="searchstuff">
    <input type="submit" value="Find Recipe">    
</form>
<% @users.all.each do |user| %>

    <h2><a href="/users/<%= user.id %>"</a>Click here to see  <%= user.username %>'s fridge.  </h2>
    <br>
    
<% end %>

