<h1>Signup here</h1>
<h2 style="background-color:red; color:white;">Your passwords don't match! Try again!</h2>
<form action="/show" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="password_confirmation">Confirm password</label>
    <input type="password" name="password_confirmation" id="password_confirmation">
    <input type="submit" value="Sign Up">        
</form>